.navbar
  .navbar-inner
    .container
      %a.btn.btn-navbar{:"data-toggle" => "collapse", :"data-target" => ".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "#"}
        %i.icon-book.icon-white
        My Bookshelf
      .nav-collapse.collapse
        %ul.nav
          = nav_link 'Books', books_path
          = nav_link 'Authors', authors_path
          = nav_link 'Genres', genres_path  
