%h1= "Welcome to your Bookcases" 
%p.lead= "You can create up to 5 bookcases"
= render "forms/create_bookcase_form"
#bookcases
  - @current_user.bookcases.each do |bookcase|
    = render "shared/bookcase", bookcase: bookcase 