= form_for("bookcase", url: bookcases_path, remote: true) do |f|
  .input-append
    = f.text_field :name, :class => "span3", :id => "appendedInputButton"
    %button{:type => "submit", :class => "btn btn-info" }
      Create Bookcase