@mixin gradient_background($direction, $initial_color, $initial_percentage, $final_color, $final_percentage, $default_color) {
  background-color: $default_color;
  background-image: -moz-linear-gradient($direction, $initial_color $initial_percentage, $final_color $final_percentage);
  background-image: -o-linear-gradient($direction, $initial_color $initial_percentage, $final_color $final_percentage);
  background-image: -webkit-linear-gradient($direction, $initial_color $initial_percentage, $final_color $final_percentage);
  background-image: -ms-linear-gradient($direction, $initial_color $initial_percentage, $final_color $final_percentage);
  background-image: linear-gradient(to $direction, $initial_color $initial_percentage, $final_color $final_percentage);
}

@mixin round_corners($factor) {
  -moz-border-radius:  $factor !important;
  -webkit-border-radius:  $factor !important; 
  border-radius: $factor !important;
}

@mixin gradient_gray_boxes {
  background-color: #EEEEEE;
  background-image: -moz-linear-gradient(90deg, #e0e0e0 0%, #FFF 50%, #FFF 100%);
  background-image: -webkit-linear-gradient(90deg, #e0e0e0 0%, #FFF 50%, #FFF 100%);
  background-image: -o-linear-gradient(90deg, #e0e0e0 0%, #FFF 50%, #FFF 100%);
  background-image: -ms-linear-gradient(90deg, #e0e0e0 0%, #FFF 50%, #FFF 100%);
  background-image: linear-gradient(top, #e0e0e0 0%, #FFF 50%, #FFF 100%);
}