@import "colors";
@import "mixins";

body {
  background-color: $palette-light !important;
}

.header {
  display: block;
  font-family: 'Special Elite', cursive;
  position: fixed;
  width: 100%;
  height: $header-height;
  @include gradient_background(90deg, $palette-dark, 30%, $palette-medium-dark, 70%, $palette-dark);
  color: $palette-light;
  z-index: 10;
}

.header_logo {
  margin: 0 auto;
  width: 165px;
  line-height: $header-height;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none !important;
  i {
    padding-right: 5px;
  }
}

.navbar {
  padding-top: $header-height;
}