@import "colors";
@import "mixins";

$header-height: 50px;

body {
  background-color: $palette-light !important;
  font-family: 'Special Elite', cursive !important;
}

a {
  text-decoration: none !important;
}

/*************HEADERS**********************/
.header {
  display: block;
  position: fixed;
  width: 100%;
  height: $header-height;
  @include gradient_background(90deg, $palette-dark, 30%, $palette-medium-dark, 70%, $palette-dark);
  color: $palette-light;
  z-index: 10;
}

.header_logo {
  margin: 0 auto;
  width: 165px;
  line-height: $header-height;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none !important;
  i {
    padding-right: 5px;
  }
}

.navbar {
  padding-top: $header-height;
}

/*************HEADERS END******************/

/*************TEASERS**********************/
.latest-books {
  @include round_corners(10px);
  background-color: $palette-medium-dark;
  padding: 5px 10px 5px 10px;
  color: $palette-light;
}

.book-teaser {
  @include gradient_gray_boxes;
  @include round_corners(7px);
  padding: 5px;
  height: 118px;
  font-size: 15px;
  margin-bottom: 8px;
  .book-image {
    padding-right: 10px;
  }
  .book-info {
    padding-top: 28px;
    color: $palette-dark;
  }
  .book-name {
    font-weight: bold;
  }
  .book-author, .book-genres {
    font-size: 12px;
  }

}

/*************TEASERS END******************/